src/main/java/com/jgalgo/graph/IWeightsObj.java
src/main/java/com/jgalgo/graph/IWeightsByte.java
src/main/java/com/jgalgo/graph/IWeightsShort.java
src/main/java/com/jgalgo/graph/IWeightsInt.java
src/main/java/com/jgalgo/graph/IWeightsLong.java
src/main/java/com/jgalgo/graph/IWeightsFloat.java
src/main/java/com/jgalgo/graph/IWeightsDouble.java
src/main/java/com/jgalgo/graph/IWeightsBool.java
src/main/java/com/jgalgo/graph/IWeightsChar.java
src/main/java/com/jgalgo/graph/WeightsImplObj.java
src/main/java/com/jgalgo/graph/WeightsImplByte.java
src/main/java/com/jgalgo/graph/WeightsImplShort.java
src/main/java/com/jgalgo/graph/WeightsImplInt.java
src/main/java/com/jgalgo/graph/WeightsImplLong.java
src/main/java/com/jgalgo/graph/WeightsImplFloat.java
src/main/java/com/jgalgo/graph/WeightsImplDouble.java
src/main/java/com/jgalgo/graph/WeightsImplBool.java
src/main/java/com/jgalgo/graph/WeightsImplChar.java