src/main/java/com/jgalgo/graph/WeightsObj.java
src/main/java/com/jgalgo/graph/WeightsByte.java
src/main/java/com/jgalgo/graph/WeightsShort.java
src/main/java/com/jgalgo/graph/WeightsInt.java
src/main/java/com/jgalgo/graph/WeightsLong.java
src/main/java/com/jgalgo/graph/WeightsFloat.java
src/main/java/com/jgalgo/graph/WeightsDouble.java
src/main/java/com/jgalgo/graph/WeightsBool.java
src/main/java/com/jgalgo/graph/WeightsChar.java
src/main/java/com/jgalgo/graph/WeightsImplObj.java
src/main/java/com/jgalgo/graph/WeightsImplByte.java
src/main/java/com/jgalgo/graph/WeightsImplShort.java
src/main/java/com/jgalgo/graph/WeightsImplInt.java
src/main/java/com/jgalgo/graph/WeightsImplLong.java
src/main/java/com/jgalgo/graph/WeightsImplFloat.java
src/main/java/com/jgalgo/graph/WeightsImplDouble.java
src/main/java/com/jgalgo/graph/WeightsImplBool.java
src/main/java/com/jgalgo/graph/WeightsImplChar.java