src/main/java/com/jgalgo/graph/WeightsObj.java
src/main/java/com/jgalgo/graph/WeightsByte.java
src/main/java/com/jgalgo/graph/WeightsShort.java
src/main/java/com/jgalgo/graph/WeightsInt.java
src/main/java/com/jgalgo/graph/WeightsLong.java
src/main/java/com/jgalgo/graph/WeightsFloat.java
src/main/java/com/jgalgo/graph/WeightsDouble.java
src/main/java/com/jgalgo/graph/WeightsBool.java
src/main/java/com/jgalgo/graph/WeightsChar.java
src/main/java/com/jgalgo/graph/IWeightsObj.java
src/main/java/com/jgalgo/graph/IWeightsByte.java
src/main/java/com/jgalgo/graph/IWeightsShort.java
src/main/java/com/jgalgo/graph/IWeightsInt.java
src/main/java/com/jgalgo/graph/IWeightsLong.java
src/main/java/com/jgalgo/graph/IWeightsFloat.java
src/main/java/com/jgalgo/graph/IWeightsDouble.java
src/main/java/com/jgalgo/graph/IWeightsBool.java
src/main/java/com/jgalgo/graph/IWeightsChar.java
src/main/java/com/jgalgo/graph/WeightsImplObj.java
src/main/java/com/jgalgo/graph/WeightsImplByte.java
src/main/java/com/jgalgo/graph/WeightsImplShort.java
src/main/java/com/jgalgo/graph/WeightsImplInt.java
src/main/java/com/jgalgo/graph/WeightsImplLong.java
src/main/java/com/jgalgo/graph/WeightsImplFloat.java
src/main/java/com/jgalgo/graph/WeightsImplDouble.java
src/main/java/com/jgalgo/graph/WeightsImplBool.java
src/main/java/com/jgalgo/graph/WeightsImplChar.java
src/main/java/com/jgalgo/internal/ds/[A-Z]*ReferenceableHeap.java
src/main/java/com/jgalgo/internal/ds/*BinomialHeap.java
src/main/java/com/jgalgo/internal/ds/*FibonacciHeap.java
src/main/java/com/jgalgo/internal/ds/*PairingHeap.java
src/main/java/com/jgalgo/internal/ds/*BinarySearchTree.java
src/main/java/com/jgalgo/internal/ds/*BinarySearchTrees.java
src/main/java/com/jgalgo/internal/ds/*RedBlackTree.java
src/main/java/com/jgalgo/internal/ds/*SplayTree.java
src/test/java/com/jgalgo/internal/ds/[A-Z]*ReferenceableHeapTestUtils.java
src/test/java/com/jgalgo/internal/ds/[A-Z]*BinarySearchTreeTestUtils.java
src/test/java/com/jgalgo/internal/ds/[A-Z]*BinomialHeapTest.java
src/test/java/com/jgalgo/internal/ds/[A-Z]*FibonacciHeapTest.java
src/test/java/com/jgalgo/internal/ds/[A-Z]*PairingHeapTest.java
src/test/java/com/jgalgo/internal/ds/[A-Z]*RedBlackTreeTest.java
src/test/java/com/jgalgo/internal/ds/[A-Z]*SplayTreeTest.java
.gen/
